@import "tailwindcss";

:root {
    --bg: #ffffff;
    /* primary: white */
    --surface: #f8fbff;
    /* very light blue surface */
    --text: #0f172a;
    /* primary text color (dark) */
    --muted: #64748b;
    /* muted text */
    --accent-600: #3970e8;
    /* primary accent (light blue - stronger) */
    --accent-500: rgb(59 130 246);
    /* light blue */
    --accent-200: #dbeafe;
    /* light blue pale */
    --accent-100: #eff6ff;
    /* very pale blue */
    --radius: 12px;
}

* {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    background: var(--bg);
    color: var(--text);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

header {
    background: transparent;
}

.header-inner {
    max-width: 1100px;
    margin: 0 auto;
}

.logo-icon {
    color: var(--accent-600);
}

.text-primary {
    color: var(--accent-600);
}

.text-muted {
    color: var(--muted);
}

.card {
    border-radius: var(--radius);
    background: #fff;
    border: 3px solid transparent;
    transition: border-color .28s ease, box-shadow .28s ease, transform .28s ease;
    box-shadow: 0px 1px 20px 0px rgba(15, 23, 42, 0.15);
}

.card:hover {
    border-color: var(--accent-200);
    box-shadow: 0 6px 20px rgba(15, 23, 42, 0.3);
}

.icon-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--accent-100);
    border-radius: 999px;
    transition: background-color .18s ease;
}

.card:hover .icon-wrapper {
    background: var(--accent-200);
}

.icon-primary {
    color: var(--accent-600);
}

.icon-wrapper-secondary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--accent-100);
    border-radius: 999px;
}

.icon-secondary {
    color: var(--accent-600);
}

.btn-outline {
    border: 2px solid rgba(37, 100, 235, 0.769);
    padding: .5rem 1rem;
    border-radius: 8px;
    color: var(--accent-600);
    background: transparent;
}


/* Small helpers */
.muted-bg {
    background: var(--surface);
}